@using BlazorNexsus.Navigation
@inject INavigationManager<Navigation> NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FWDays2024.JsInterop</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <a @onclick="()=>NavigationManager.Go(Navigation.HomePage)" class="@GetActiveClassFor(Navigation.HomePage) nav-link" style="cursor: pointer; ">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </a>
        </div>

        <div class="nav-item px-3">
            <a @onclick="()=>NavigationManager.Go(Navigation.ChatPage)" class="@GetActiveClassFor(Navigation.ChatPage) nav-link" style="cursor: pointer;">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Chat
            </a>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    
    protected override void OnInitialized() => NavigationManager.LocationChanged += (_,_) => StateHasChanged();
    private string GetActiveClassFor(Navigation activePage) => NavigationManager.CurrentPage == activePage ? "active" : string.Empty;
}